<style type="text/css">
  .green{
    color: #00CD66;
  }
  .red{
    color: red;
  }
  .pg-text-limit{
    max-height: 107px;
    max-width: 500px;
    overflow: auto;
  }
</style>
<div id="da-wrapper">
  <!-- 头部 -->
  <div ng-include src="'/static/js/buy/base_header.html'"></div>
  <!-- 身体 -->
  <div id="da-content">
    <!-- Container -->
    <div class="da-container clearfix">
      <div ng-include src="'/static/js/buy/base_sidebar.html'"></div>
      <!-- 右侧内容 -->
      <div id="da-content-wrap" class="clearfix">
        <div id="da-content-area">
          <div class="span12">
            <div class="da-panel">
              <div class="da-panel-header">
                <span class="da-panel-title">
                  运单号上传
                </span>
              </div>
              <div class="da-panel-content da-form-container">
                <form class="da-form da-form-inline">
                  <div class="da-form-row">
                    <form method="POST" enctype="multipart/form-data">
                      <input type="file" id="uploadNew" name="local_file">
                      <input type="submit" value="上传" class="btn btn-primary" ng-click="upload('uploadNew')">
                    </form>
                  </div>
                  <div class="da-form-row">
                    <table class="da-table checkable" style="margin-top: 12px;">
                      <thead>
                        <tr>
                          <th>文件名</th>
                          <th>上传时间</th>
                          <th>任务完成时间</th>
                          <th>任务处理结果</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in history.history">
                          <td>{{item.filename}}</td>
                          <td>{{item.start_time}}</td>
                          <td>{{item.complete_time}}</td>
                          <td ng-if="item.status==='上传成功'"><div class="green pg-text-limit">{{item.status}}</div></td>
                          <td ng-if="item.status!=='上传成功'"><div class="red pg-text-limit">{{item.status}}</div></td>
                        </tr>
                      </tbody>
                    </table>
                    <div ng-include src="'/static/js/include/newpaginator.html'"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






