<style type="text/css">
.ngdialog {
z-index: 9;
/*width: 600px;
margin:0 auto;*/
}
.ngdialog-content{
width: 600px !important;
/*height:  400px !important;*/
}
.fiximg{
    width: 100px !important;
    height: 100px !important;
    max-width: 100px  !important;
}
</style>
<div id="da-wrapper">
    <!-- 头部 -->
    <div ng-include src="'/static/js/buy/base_header.html'"></div>
    <!-- 身体 -->
    <div id="da-content">
        <!-- Container -->
        <div class="da-container clearfix">
            <div ng-include src="'/static/js/buy/base_sidebar.html'"></div>
            <!-- 右侧内容 -->
            <div id="da-content-wrap" class="clearfix">
                <div id="da-content-area">
                    <div class="span12">
                        <div class="da-panel">
                            <div class="da-panel-header">
                                <span class="da-panel-title" id="loadspan">
                                    SPU品牌查询
                                </span>
                            </div>
                            <div class="da-panel-content da-form-container">
                                <form id="da-ex-validate3" class="da-form" novalidate="novalidate">
                                    <div class="da-form-inline">
                                        <div class="da-form-row">
                                            <p class="h-label">查询条件：</p>
                                            <div class="l-span2">
                                                <select ng-change="change(queryWay);queryContent = ''; queryResults = [];" ng-model="queryWay" ng-options="query.value as query.text for query in queryMaps">
                                                </select>
                                            </div>
                                            <p class="h-label">值：</p>
                                            <div class="l span2">
                                                <input type="text" ng-model="queryContent" class="span8" >
                                            </div>
                                        </div>
                                        <div class="da-form-row">
                                            <input type="submit"  class="btn btn-primary" ng-click="query(0);"  value="查询">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="da-form-row">
                                <div class="da-panel-content da-form-container" style="padding: 20px 12px;">
                                    <table class="da-table checkable" style="margin-top: 12px;">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>品牌名称</th>
                                                <th>logo</th>
                                                <th>描述</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="queryWay=='spubrand_name'" ng-repeat="spubrand in brandList| filter:{name:queryContent}">
                                                <td><a href="javascript:void(0)" ng-click="openSpuBrandEditDialog(spubrand);">{{ spubrand.id }}</a></td>
                                                <td>{{ spubrand.name }}</td>
                                                <td><img ng-src="{{spubrand.pic}}" alt="{{spubrand.pic}}" ng-show="spubrand.pic" class="fiximg" ></td>
                                                <td>{{ spubrand.desc}}</td>
                                            </tr>
                                            <tr ng-if="queryWay!=='spubrand_name'" ng-repeat="spubrand in queryResults">
                                               <td><a href="javascript:void(0)" ng-click="openSpuBrandEditDialog(spubrand);">{{ spubrand.id }}</a></td>
                                                <td>{{ spubrand.name }}</td>
                                                <td><img ng-src="{{spubrand.pic}}" alt="{{spubrand.pic}}" ng-show="spubrand.pic" class="fiximg" ></td>
                                                <td>{{ spubrand.desc}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div ng-include src="'/static/js/include/prevnextpaginator.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="editSpuBrand">
<div class="ngdialog-message clr"  >
    <h2 class="da-panel-title" style="margin-left:12px">
    品牌名称: {{editBrand.name}}  &nbsp;|&nbsp; 品牌ID: {{editBrand.id}}
    </h2>
    <div name="imgplace"  >
        <label class="h-label span1" style="margin-left:12px">logo:</label>
        <img ng-src="{{editBrand.pic}}" alt="" height="200" width="200">
    </div>
    <div style="margin:18px 0px 18px 0px">
        <input type="text" class="l" ng-model="editBrand.pic " value="{{editBrand.pic}}" id="edit_pic_logo"style="cursor: pointer;  width: 60%;margin-left: 12px;"/>
        <form method="POST"enctype="multipart/form-data"id="editForm">
            <input type="file" id="editimg" name="local_file" class="l span2" style="margin-right:5px;"/>
            <input type="submit" value="上传图片" class="btn btn-primary l" ng-click="upload(editBrand,'editimg')"/>
        </form>
    </div>
    <div>
        <label class="h-label span1" style="margin-left:12px">品牌描述</label>
        <textarea style="width: 60%;height:80px;margin-bottom: 10px;font-size:15px;" ng-model="editBrand.desc">
        {{edit_brand.desc }}
        </textarea>
        <input value="保存" type="submit" class="btn" ng-click="editSpuBrand(editBrand)" style="margin-top: 12px">
    </div>
</div>
</script>