<div id="da-wrapper">
    <!-- 头部 -->
    <div ng-include src="'/static/js/buy/base_header.html'"></div>
    <!-- 身体 -->
    <div id="da-content">
        <!-- Container -->
        <div class="da-container clearfix">
            <div ng-include src="'/static/js/buy/base_sidebar.html'"></div>
            <!-- 右侧内容 -->
            <div id="da-content-wrap" class="clearfix">
                <div id="da-content-area">
                    <div class="da-panel">
                        <div class="da-panel-header">
                            <span class="da-panel-title">
                                <i class="icon-list"></i> 退货单管理
                            </span>
                        </div>
                        <div class="da-panel-content da-form-container">
                            <form class="da-form" form="query">
                                <div class="da-form-inline">
                                    <div class="da-form-row">
                                        <p class="h-label">查询条件：</p>
                                        <div class="l-span2" style="margin-right: 10px;">
                                          <select ng-model="queryType" ng-options="qt.text for qt in queryTypes">
                                          </select>
                                        </div>
                                        <div class="l-span2" style="margin-right: 10px;">
                                          <input type="text" ng-model="modalcode">
                                        </div>
                                        <div class="span12" style="margin-top:10px;margin-left:0">
                                        <p class="h-label ">退货单创建时间：</p>
                                        <div class="l span6">
                                          <input type="text" class="span12  timepicker form-control" placeholder="开始时间" id="timestamp1" ng-model="start_date">&nbsp;&nbsp;-&nbsp;&nbsp;
                                          <input type="text" class="span12 timepicker form-control" placeholder="结束时间" id="timestamp2" ng-model="end_date">
                                        </div>
                                        </div>
                                    </div>
                                    <div class="da-form-row">
                                       <label class="h-label">退货单状态</label>
                                       <div class="l-span2">
                                           <select ng-model="order_status" ng-options="qt.text  for qt in goodStatus">
                                          </select>
                                       </div>
                                    </div>
                                    <div class="da-form-row">
                                        <a class="btn" ng-click="findList()">查询</a>
                                        <a class="btn" ng-click="saveToCsv()">导出退货单</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="da-panel collapsible">
                        <div class="da-panel-header">
                            <span class="da-panel-title">
                              <i class="icol-grid"></i>
                                查询结果
                            </span>
                        </div>
                        <div class="da-panel-inner-wrap">
                            <div class="da-panel-content da-table-container">
                                <div class="dataTables_wrapper">
                                    <div class="dataTables_length">
                                        <select ng-model="order_sta">
                                            <option value="2" selected="selected">设为已提交退款</option>
                                            <option value="3">设为已结算</option>
                                        </select>
                                        <input type="button" class="btn" value="执行" ng-click="submitStatus()"/>
                                        <span>已选中 <i class="allCount"></i> 个中的 <i class="selected"></i> 个</span>
                                    </div>
                                    <table class="da-table checkable">
                                        <thead>
                                            <tr>
                                                <th class="checkbox-column all"><input type="checkbox"></th>
                                                <th>退货单号</th>
                                                <th>状态</th>
                                                <th>供应商名称</th>
                                                <th>商品名称</th>
                                                <th>退货数量</th>
                                                <th>应退用户金额</th>
                                                <th>退货供应商结算金额</th>
                                                <th>堆糖承担金额</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="datalists">
                                            <tr ng-repeat="item in datalist">
                                                <td class="checkbox-column sub"><input type="checkbox" data-id="{{item.id}}" ng-show="item.order_status!=='已结算'"></td>
                                                <td><a ng-href="#/return/detail?id={{item.id}}" ng-click="saveMessage()" target="_blank">{{item.id}}</a></td>
                                                <!-- <td>{{item.main_biz_order_id}}</td> -->
                                                <td>{{item.order_status}}</td>
                                                <td>{{item.supplier_name}}</td>
                                                <td>{{item.inventory_name}}</td>
                                                <td>{{item.quantity}}</td>
                                                <td>{{item.refund_fee}}</td>
                                                <td>{{item.supplier_settle_refund_fee}}</td>
                                                <td>{{item.dt_apportioned_refund_fee}}</td>
                                                <td>
                                                    <a ng-show="item.order_status==='待退款'" class="btn" ng-click="cancleReturnOrder()">取消退货单</a>
                                               </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="dataTables_length">
                                        <select ng-model="order_sta">
                                            <option value="2" selected="selected">设为已提交退款</option>
                                            <option value="3">设为已结算</option>
                                        </select>
                                        <input type="button" class="btn" value="执行" ng-click="submitStatus()"/>
                                        <span>已选中 <i class="allCount"></i> 个中的 <i class="selected"></i> 个</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-include src="'/static/js/include/prevnextpaginator.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
 </div>
