<div id="da-wrapper">
  <!-- 头部 -->
  <div ng-include src="'/static/js/buy/base_header.html'"></div>
  <!-- 身体 -->
  <div id="da-content">
    <!-- Container -->
    <div class="da-container clearfix">
      <div ng-include src="'/static/js/buy/base_sidebar.html'"></div>
      <!-- 右侧内容 -->
      <div id="da-content-wrap" class="clearfix">
        <div id="da-content-area">
          <div class="span12" style="float:none">
            <div class="da-panel">
              <div class="da-panel-header">
                <span class="da-panel-title">
                  新建供应商
                </span>
              </div>
              <div class="da-panel-content">
                <a href="#/supplier/create/"><div class="btn btn-primary">新增</div></a>
              </div>
            </div>
            <div class="da-panel">
              <div class="da-panel-header">
                <span class="da-panel-title">
                  查询供应商信息
                </span>
              </div>
              <div class="da-panel-content da-form-container">
                <form id="da-ex-validate3" class="da-form" novalidate="novalidate">
                  <div class="da-form-inline">
                      <div class="da-form-row">
                        <p class="h-label">查询条件：</p>
                        <div class="l-span2">
                          <select ng-change="change(queryWay)" ng-model="queryWay" ng-options="query.value as query.text for query in queryMaps">
                          </select>
                        </div>
                        <p class="h-label">值：</p>
                        <div class="l span2">
                          <input type="text" ng-model="queryContent" class="span8">
                        </div>
                      </div>
                      <div class="da-form-row">
                        <div class="btn btn-primary" ng-click="query();">查询</div>
                        <div class="btn btn-primary" ng-click="supplierExport();">导出本页结果</div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="da-panel" >
                <table class="da-table checkable">
                  <thead>
                    <tr>
                      <th style="width:5%;padding:20px 0;">供应商ID</th>
                      <th style="width:5%;padding:20px 0;">供应商名称</th>
                      <th style="width:5%;padding:20px 0;">用户邮价</th>
                      <th style="width:5%;padding:20px 0;">用户免邮门槛</th>
                      <th style="width:5%;padding:20px 0;">结算邮价</th>
                      <th style="width:5%;padding:20px 0;">结算免邮门槛</th>
                       <th style="width:5%;padding:20px 0;">操作</th>
                    </tr>
                  </thead>
                  <tbody id="pg-table">
                    <tr ng-if="queryWay=='supplier_name'" ng-repeat="item in total_list| filter:{supplier_name:queryContent}">
                      <td>{{item.supplier_id}}</td>
                      <td>{{item.supplier_name}}</td>
                      <td>{{item.user_logistics_price}}</td>
                      <td>{{item.user_logistics_threshold}}</td>
                      <td>{{item.supplier_logistics_price}}</td>
                      <td>{{item.supplier_logistics_threshold}}</td>
                      <td><a href="#/supplier/update/?id={{item.supplier_id}}">查询/编辑</a></td>
                    </tr>
                    <tr ng-if="queryWay!='supplier_name'" ng-repeat="item in supplier_list">
                      <td>{{item.supplier_id}}</td>
                      <td>{{item.supplier_name}}</td>
                      <td>{{item.user_logistics_price}}</td>
                      <td>{{item.user_logistics_threshold}}</td>
                      <td>{{item.supplier_logistics_price}}</td>
                      <td>{{item.supplier_logistics_threshold}}</td>
                      <td><a href="#/supplier/update/?id={{item.supplier_id}}">查询/编辑</a></td>
                    </tr>
                  </tbody>
                </table>
            </div>
          <div ng-include src="'/static/js/include/prevnextpaginator.html'"></div>
      </div>
    </div>

  </div>
</div>