<div id="da-wrapper">
  <!-- 头部 -->
  <div ng-include src="'/static/js/buy/base_header.html'"></div>
  <!-- 身体 -->
  <div id="da-content">
    <!-- Container -->
    <div class="da-container clearfix">
      <div ng-include src="'/static/js/buy/base_sidebar.html'"></div>
      <!-- 右侧内容 -->
      <div id="da-content-wrap" class="clearfix">
        <div id="da-content-area">
          <div class="span12" style="float:none">
            <div class="da-panel ">
              <div class="da-panel-header">
                <span class="da-panel-title">
                  基础信息上下架信息
                </span>
              </div>
              <div class="da-panel-content da-form-container">
                <div class="da-form" >
                  <div class="da-form-inline">
                    <div class="da-form-row">
                      <div class="l-span6">
                        <label class="h-label span1">目前状态</label>
                        <span ng-if="inventory.inventory_status == 0" style="margin-right: 15px;">上架</span>
                        <span ng-if="inventory.inventory_status == 1" style="margin-right: 15px;">下架</span>
                        <input ng-if="inventory.inventory_status == 0" type="button" ng-model="inventory.inventory_status" class="btn btn-danger"  style="margin-right: 20px;"  value="下架商品" ng-click="setShelves();">
                        <input ng-if="inventory.inventory_status == 1" type="button" ng-model="inventory.inventory_status" class="btn btn-primary"  style="margin-right: 20px;"  value="上架商品" ng-click="setShelves();">
                      </div>
                    </div>
                    <!-- 第一列 -->
                    <div class="da-form-row">
                      <div class="l-span6">
                        <label class="h-label span2">商品ID</label>
                        <input type="text" class="span4" ng-model="inventory.id"  ng-disabled = 1 style="cursor: pointer;">
                      </div>
                      <div class="l-span6">
                        <label class="h-label span2">销售价格</label>
                        <input type="text"  class="span4" ng-model="inventory.sale_price" ng-disabled = 1 style="cursor: pointer;">
                      </div>
                      <div class="l-span6">
                        <label class="h-label span2">供应商ID</label>
                        <input type="text" class="span4" ng-model="inventory.supplier_id" ng-disabled = 1 style="cursor: pointer;">
                      </div>
                      <div class="l-span6">
                        <label class="h-label span2">结算价格</label>
                        <input type="text"  class="span4" ng-model="inventory.settle_price" ng-disabled = 1 style="cursor: pointer;">
                      </div>
                      <div class="l-span6">
                        <label class="h-label span2">供应商名称</label>
                        <input type="text" class="span4" ng-model="inventory.supplier_name" ng-disabled = 1 style="cursor: pointer;">
                      </div>
                      <div class="l-span6">
                        <label class="h-label span2">佣金比例</label>
                        <input type="text"  class="span4" ng-model="inventory.refund_rate" ng-disabled = 1 style="cursor: pointer;">
                      </div>
                      <div class="l-span6">
                        <label class="h-label span2">商品类型</label>
                        <input type="text" class="span4" ng-model="inventory.inventory_type" ng-disabled = 1 style="cursor: pointer;">
                      </div>
                      <div class="l-span6">
                        <label class="h-label span2">配送方式</label>
                        <input type="text"  class="span4" ng-model="inventory.delivery_type" ng-disabled = 1 style="cursor: pointer;">
                      </div>
                    </div>
                    <!-- 第二列 -->
                    <div class="da-form-row">
                      <div class="l-span6">
                        <label class="h-label span2">SPU-ID</label>
                        <input type="text"  class="span4" ng-model="inventory.spu_id">
                      </div>
                      <div class="l-span6">
                        <label class="h-label span2">购买上限</label>
                        <input type="text"  class="span4" ng-model="inventory.buy_limit" style="cursor: pointer;">
                      </div>
                      <div class="l-span6">
                        <label class="h-label span2">团期号</label>
                        <input type="text" class="span4" ng-model="inventory.batch_no" style="cursor: pointer;">
                      </div>
                      <div class="span12">
                        <label class="h-label span2">商品属性</label>
                        <textarea style="width: 70%;height:70px;margin-bottom: 10px;" ng-model="inventory.inventory_attr">{{inventory.inventory_attr}}</textarea>
                      </div>
                 <!--      <div class="l-span6">
                        <label class="h-label span2">是否有购物车</label>
                        <input type="text" class="span4" ng-model="inventory.cart_available" ng-disabled = 1 style="cursor: pointer;">
                      </div> -->

                      <div class="span12">
                       <label class="span4"><input type="checkbox" ng-model="inventory.cart_available" ng-true-value="1" ng-false-value="0">是否有购物车</label>
                      </div>
                      <div class="span12">
                        <label class="span4"><input type="checkbox" ng-model="inventory.sec_killable" ng-true-value="1" ng-false-value="0">是否为秒杀商品</label>

                      </div>
                    </div>
                    <!-- 第三列 -->
                    <div class="da-form-row">
                      <div class="l-span6">
                        <label class="h-label span1" style="width: 80px;margin-right: 0px;">库存变动量</label>
                        <input type="text"  class="span4" ng-model="inventory.modifyCount">
                      </div>
                      <div class="l-span6">
                        <label class="h-label l">当前库存</label>
                        <p class="h-label ">{{inventory.count}}</p>
                      </div>
                      <div class="l-span6">
                        <input type="button" class="btn"  value="库存清零" ng-click="countzero();">
                       </div>
                      <div class="span12">
                        <label class="h-label span1">上线时间</label>
                        <input type="text" id="onlineTime" class="span4" ng-model="inventory.onsale_time">
                      </div>
                      <div class="span12">
                        <label class="h-label span1">下线时间</label>
                        <input type="text" id="offlineTime" class="span4" ng-model="inventory.offsale_time">
                      </div>
                    </div>
                    <div class="da-form-row">
                      <input type="button" ng-model="rule[1]" class="btn btn-primary"  style="margin-left: 35px;"  value="保存" ng-click="saveShelves();">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="da-panel " style="margin-top:15px;">
              <div class="da-panel-header">
                <span class="da-panel-title">
                  描述信息
                </span>
              </div>
              <div class="da-panel-content da-form-container">
                <div class="da-form" >
                  <div class="da-form-inline">
                    <div class="da-form-row">

                      <div class="span12">
                        <label class="h-label span1">商品名称</label>
                        <input type="text" class="span11" style="width: 50%;" ng-model="inventory.inventory_name">
                      </div>
                      <div class="span12">
                        <label class="h-label span1">商品分类</label>
                        <input type="text"  class="span8" style="width: 50%;" ng-model="inventory.inventory_cat">
                      </div>
                      <div class="span12">
                        <label class="h-label span1">卖点说明</label>
                        <input type="text"  class="span8" style="width: 50%;" ng-model="inventory.inventory_caption">
                      </div>
                      <div class="span12">
                        <label class="h-label span1">市场价格</label>
                        <input type="text" class="span8" style="width: 50%;" ng-model="inventory.market_price">
                      </div>
                      <div class="span12">
                        <label class="h-label span1">海淘说明</label>
                        <input type="text" class="span8" style="width: 50%;" ng-model="inventory.overseas_intro">
                      </div>
                      <div class="span12">
                        <label class="h-label span1">商品描述</label>
                        <textarea style="width: 70%;height:70px;margin-bottom: 10px;" ng-model="inventory.inventory_desc">{{inventory.inventory_desc}}</textarea>
                      </div>

                      <div class="span12">
                        <label class="h-label span1">商品协议</label>
                        <textarea style="width: 70%;height:70px;" ng-model="inventory.agreement">{{inventory.agreement}}</textarea>
                      </div>
                      <div class="span12">
                        <div class="span1">
                          <label class="h-label span1" style="margin-left: 0px;">商品图片</label>
                          <visual-img ng-model="inventory.picturesObj"  id="picturesObj"></visual-img>
                        </div>
                      </div>

                    </div>
                    <div class="da-form-row">
                      <input type="button" ng-click="saveInfo();" class="btn btn-primary "  style="margin-left: 35px;"  value="保存">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="da-panel " style="margin-top:15px;">
              <div class="da-panel-header">
                <span class="da-panel-title">
                  详细信息
                </span>
              </div>
              <div class="da-panel-content da-form-container">
                <div class="da-form" >
                  <div class="da-form-inline">
                    <div class="da-form-row">
                      <div class="span12">
                        <label class="h-label span2">文字banner</label>
                        <input type="text" class="span10" style="width: 50%;" ng-model="inventory.banner_title" placeholder="banner 的 title">
                        <input type="text" class="span10" style="margin-top: 12px;width: 50%;" ng-model="inventory.banner_link" placeholder="banner 的 url">
                      </div>
                      <div class="span12">
                        <label class="h-label span2">关联blogID</label>
                        <input type="text"  class="span10" style="margin-top: 12px;width: 50%;" ng-model="inventory.related_blogs">
                      </div>
                      <div class="span12">
                        <div class="span2">
                          <label class="h-label span1" style="margin-left: 0px;">图片详情</label>
                          <visual-img ng-model="inventory.detailPicturesObj"  id="detailPicturesObj"></visual-img>
                        </div>
                      </div>
                    </div>
                    <div class="da-form-row">
                      <input type="button" ng-click="saveDetailInfo();" class="btn btn-primary "  style="margin-left: 35px;"  value="保存">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
