<style type="text/css">
html,
body {
  height: 100%;
}

.promotion-detail {
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0
}
.detail-table tr,.detail-table td{
  border:  1px solid #aaa;
  padding: 5px;
  font-size: 14px;
}
</style>
<div id="da-wrapper">
  <!-- 头部 -->
  <div ng-include src="'/static/js/buy/base_header.html'"></div>
  <!-- 身体 -->
  <div id="da-content">
    <!-- Container -->
    <div class="da-container clearfix">
      <div ng-include src="'/static/js/buy/base_sidebar.html'"></div>
      <!-- 右侧内容 -->
      <div id="da-content-wrap" class="clearfix">
        <div id="da-content-area">
          <div class="span12">
            <div class="da-panel">
              <div class="da-panel-header">
                <span class="da-panel-title">
                                            <i class="icol-pencil"></i>
                                            营销活动管理
                                        </span>
              </div>
              <div class="da-panel-content da-form-container">
                <form class="da-form da-form-inline">
                  <div class="da-form-row">
                  <button ng-click="create()" class="btn gray left">新建营销活动</button>
                  </div>
                  <div class="da-form-row">
                    <div style="margin-left:30px;float:left">
                      <label class="da-form-label">优惠活动类型</label>
                      <select ng-model="promotion_type" ng-options="promotionType.value as promotionType.text for promotionType in promotionTypes"  class="span3">
                      </select>
                    </div>
                    <div style="float:left">
                      <label class="da-form-label">输出优惠类型</label>
                      <div class="da-form-item">
                        <select ng-model="output_type" ng-options="outputType.value as outputType.text for outputType in outputTypes"  class="span3">
                        </select>
                      </div>
                    </div>
                    <div style="margin-left:30px;float:left">
                      <label class="da-form-label">绑定的商家名</label>
                      <input type="text" ng-model="seller_name">
                    </div>
                  </div>
                  <div class="btn-row">
                    <input value="查询" type="submit" class="btn btn-success" ng-click="query()" style="float:left;">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="span12">
            <div class="da-panel collapsible">
              <div class="da-panel-header">
                <span class="da-panel-title">
                                            <i class="icol-grid"></i>
                                            Table Styling
                                        </span>
                <div class="da-panel-toggler"><span></span></div>
              </div>
              <div class="da-panel-inner-wrap">
                <div class="da-panel-content da-table-container">
                  <table class="da-table checkable">
                    <thead>
                      <tr>
                        <th>营销活动名称</th>
                        <th>绑定的商家名</th>
                        <th>前台完整名称描述</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in data.object_list">
                        <td>{{item.tag_name}}</td>
                        <td>{{item.seller_name}}</td>
                        <td>{{item.full_desc}}</td>
                        <td>{{item.promotion_start_at}}</td>
                        <td>{{item.promotion_end_at}}</td>
                        <td>
                          <button ng-click="getDetail()">查看详情</button>
                          <!-- <a ng-href="#/promotion/update/?id={{item.id}}&seller_id={{item.seller_id}}&seller_name={{item.seller_name}}&target_type={{item.target_type}}&tag_name={{item.tag_name}}&output_type={{item.output_type}}&&&&">编辑</a> -->
                          <a ng-href="#/promotion/update/?update=true" ng-click="update()"
                          style="border:1px solid #bbb;color:#666;border-radius:3px;padding:1px;">编辑</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div ng-include src="'/static/js/include/prevnextpaginator.html'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="promotion-detail" ng-show="promotion_detail">
    <div class="span6" style="position:absolute;top:100px;left:50%;margin-left:-230px;">
      <div class="da-panel">
        <div class="da-panel-header" style="position:relative">
          <span class="da-panel-title">
                                            <i class="icol-application-view-list"></i>
                                            详情
                                        </span>
          <input ng-click="closeDetail()" type="button" class="btn" value="X" style="position:absolute;top:10px;right:10px;">
        </div>
        <div class="da-panel-content da-form-container">
          <form class="da-form">
            <div class="da-form-inline">
              <div class="da-form-row">
                <table class="detail-table">
                  <tr>
                    <td>营销活动ID</td>
                    <td>{{detail.id}}</td>
                  </tr>
                  <tr>
                    <td>营销活动名称</td>
                    <td>{{detail.tag_name}}</td>
                  </tr>
                  <tr>
                    <td>绑定的商家ID</td>
                    <td>{{detail.seller_id}}</td>
                  </tr>
                  <tr>
                    <td>绑定的商家名</td>
                    <td>{{detail.seller_name}}</td>
                  </tr>
                  <tr>
                    <td>活动类型</td>
                    <td>{{detail.promotion_type}}</td>
                  </tr>
                  <tr>
                    <td>作用目标类型</td>
                    <td>{{detail.target_type}}</td>
                  </tr>
                  <tr>
                    <td>优惠输出类型</td>
                    <td>{{detail.output_text}}</td>
                  </tr>
                  <tr>
                    <td>绑定的inventory_id</td>
                    <td style="word-break: break-word;">{{detail.inventory_id}}</td>
                  </tr>
                  <tr>
                    <td>规则 rules</td>
                    <td>{{detail.rules}}</td>
                  </tr>
                  <tr>
                    <td>前台完整名称描述</td>
                    <td>{{detail.full_desc}}</td>
                  </tr>
                  <tr>
                    <td>生效时间</td>
                    <td>{{detail.promotion_start_at}} 至 {{detail.promotion_end_at}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
