<style type="text/css">
.pg-brands{
  position: absolute;
  z-index: 9999;
  height: auto;
  width: 200px;
  background-color: #fff;
  border: 1px solid #eee;
  width: 100%;
}
#da-content-area .pg-brands-query{
  cursor: pointer;
  width: 100%;
  margin-right: 12px;
}
.pg-banner-table td:first-child{
  display: block;
  background-color: #eee;
  float: left;
  padding-top: 10px;
}
.pg-banner-table td label{
  width: 20%;
}
.pg-banner-table td input{
  width: 70%;
  display: block;
}
</style>
<div id="da-wrapper">
  <!-- 头部 -->
  <div ng-include src="'/static/js/buy/base_header.html'"></div>
  <!-- 身体 -->
  <div id="da-content">
    <!-- Container -->
    <div class="da-container clearfix">
      <div ng-include src="'/static/js/buy/base_sidebar.html'"></div>
      <!-- 右侧内容 -->
      <div id="da-content-wrap" class="clearfix">
        <div id="da-content-area">
           <div class="span12" ng-show="page==1" ng-init="page=1;">
            <div class="da-panel">
              <div class="da-panel-header">
                <span class="da-panel-title">
                    选择类目和属性
                </span>
              </div>
              <div class="da-form da-panel-content da-form-container">
                <form class="da-form da-form-inline">
                  <div class="da-form-row">
                    <label class="h-label span1">类别</label>
                    <select ng-model="selectCategory" ng-options="category.id as category.name for category in categoryList" ng-change="getPropertiesList()">
                      </select>
                  </div>
                  <div class="da-form-row">
                    <label class="h-label span1">属性</label>
                      <div class="l-span9" style="margin-left: 0px;">
                      <div ng-repeat="property in propertiesList" style="min-height: 30px;">
                        <div style="min-width: 60px;" class="l">{{property.value}}:</div>
                        <i style="width:20px;height:20px;background:url('http://img4q.duitang.com/uploads/people/201508/31/20150831172927_ZyWfr.png');background-size:cover;cursor:pointer;float:left;margin-left: 12px" ng-click="selectProperty(property.key,property.selePropertyInfo)"></i>
                        <span ng-repeat="item in property.selePropertyInfo">{{item.value}},</span>
                      </div>
                    </div>
                  </div>
                  <div class="btn-row">
                    <input value="下一步" type="submit" class="btn btn-success" ng-click="page=2;nextStep();" style="float:left;">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="span12" ng-show="page==2" >
            <div class="da-panel"  ng-click="showBrands = false;">
              <div class="da-panel-header">
                <span class="da-panel-title">
                  添加产品描述
                </span>
              </div>
              <div class="da-panel-content da-form-container">
                <form class="da-form da-form-inline">
                  <div class="da-form-row">
                    <div class="span10">
                      <label class="h-label span1">产品名称</label>
                      <input type="text"  class="l" ng-model="name" style="cursor: pointer;  width: 60%;margin-right: 12px;" placeholder="(30字以内)"/>
                    </div>
                    <div class="span10">
                      <div class="span1">
                        <label class="h-label span1" style="margin-left: 0px;">商品编码</label>
                        <div style="width:20px;height:20px;background:url('http://img4q.duitang.com/uploads/people/201508/31/20150831172927_ZyWfr.png');background-size:cover;cursor:pointer;float:left;margin-top: 10px;margin-left: 0px" ng-click="addItem(barCodes,{'barCode':'', 'count':''})"></div>
                      </div>
                      <table style="display: block;margin-left: 0px;margin-bottom: 12px;" class="span4">
                        <tr  style="padding:5px;border-bottom:1px solid #ddd;" class="span12" ng-repeat="item in barCodes">
                          <td class="span6">
                            <input id="photo_link{{$index}}" type="text" style="width: 50%;" ng-model="item.barCode" value="{{item.barCode}}">＊
                            <input id="photo_link{{$index}}" type="text" style="width: 10%;" ng-model="item.count" value="{{item.count}}">
                          </td>
                          <td>
                            <div style="width:20px;height:20px;background-size:cover;background:url('http://img4q.duitang.com/uploads/people/201508/31/20150831175107_fCBWv.png');background-size:cover;cursor:pointer;" ng-click="removeItem(barCodes)"></div>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="span10">
                      <label class="h-label span1">品牌</label>
                      <div style="float: left;width: 30%;position: relative;">
                        <input type="text" ng-model="seleBrand.name" class="pg-brands-query" ng-focus="showBrands = true;" ng-click="inputFocus($event);"/>
                        <ul class="pg-brands" ng-show="showBrands==true" >
                          <li ng-repeat="brand in brands | filter:seleBrand.name"  ng-click="selectBrand(brand.name,brand.id,$event);">{{brand.name}}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="span10">
                      <label class="h-label span1">卖点说明</label>
                      <input type="text"  class="l" ng-model="caption" style="cursor: pointer;  width: 60%;margin-right: 12px;"/>
                    </div>
                    <div class="span10">
                      <label class="h-label span1">商品属性</label>
                      <textarea style="width: 60%;height:70px;margin-bottom: 10px;" ng-model="inventoryAttr"></textarea>
                    </div>

                    <div class="span10">
                      <label class="h-label span1">深度推荐</label>
                      <textarea style="width: 60%;height:70px;margin-bottom: 10px;" ng-model="recommend"></textarea>
                    </div>
                    <div class="span10">
                      <div class="span1">
                        <label class="h-label span1" style="margin-left: 0px;">轮播图</label>
                        <visual-img ng-model="pictureList"  id="pictureList"></visual-img>
                      </div>
                    </div>
                    <div class="span10">
                      <label class="h-label span1">描述</label>
                      <textarea style="width: 60%;height:70px;margin-bottom: 10px;" ng-model="desc">{{desc}}</textarea>
                    </div>
                    <div class="span10">
                      <label class="h-label span1">市场价</label>
                      <input type="text"  class="l" ng-model="marketPrice" style="cursor: pointer;  width: 60%;margin-right: 12px;"/>
                    </div>
                    <div class="span10">
                      <label class="h-label span2">关联blog:(口碑)</label>
                      <input type="text"  class="l" ng-model="relatedBlogs" style="cursor: pointer;  width: 60%;margin-right: 12px;"/>
                    </div>
                    <div class="span10">
                      <div class="span1">
                        <label class="h-label span1" style="margin-left: 0px;">banner</label>
                        <div style="width:20px;height:20px;background:url('http://img4q.duitang.com/uploads/people/201508/31/20150831172927_ZyWfr.png');background-size:cover;cursor:pointer;float:left;margin-top: 10px;margin-left: 0px" ng-click="addItem(banners,{'desc':'','link':''})"></div>
                      </div>
                      <table class="pg-banner-table" style="display: block;margin-left: 0px" class="span4">
                        <tr  style="padding:5px;border-bottom:1px solid #ddd;" class="span8" ng-repeat="item in banners">
                          <td class="span6">
                            <div class="clr">
                              <label class="h-label span2">描述：</label>
                              <input type="text" class="span8" ng-model="item.desc"/>
                            </div>
                            <div class="clr">
                              <label class="h-label span2">链入链接：</label>
                              <input type="text" class="span8" ng-model="item.link"/>
                            </div>
                          </td>
                          <td>
                            <div style="width:20px;height:20px;background-size:cover;background:url('http://img4q.duitang.com/uploads/people/201508/31/20150831175107_fCBWv.png');background-size:cover;cursor:pointer;" ng-click="removeItem(banners)"></div>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="span10">
                      <div class="span1">
                        <label class="h-label span1" style="margin-left: 0px;">图文详情</label>
                        <visual-img ng-model="detailPics"  id="detailPics"></visual-img>
                      </div>
                    </div>
                    <div class="span10">
                      <label class="h-label span1">包装说明</label>
                      <input type="text"  class="l" ng-model="packDesc" style="cursor: pointer;  width: 60%;margin-right: 12px;"/>
                    </div>
                    <div class="span10" style="margin-bottom: 10px;">
                      <div class="span1">
                        <label class="h-label span1" style="margin-left: 0px;">包装图片</label>
                        <visual-img ng-model="packPicsList"  id="packPicsList"></visual-img>
                      </div>
                    </div>
                  </div>
                  <div class="btn-row">
                    <input value="保存" type="submit" class="btn btn-success" ng-click="createSpu();"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-click="showImg=!showImg" ng-show="showImg" style="z-index: 9999; position: fixed;width:800px;height: 100%;top: 0;background:#fff;left: 50%;margin-left: -400px;">
    <img style="max-width: 100%;max-height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);" src="{{bigImg}}">
  </div>
<script type="text/ng-template" id="selectProperty">
  <div class="ngdialog-message clr">
    <h2 class="da-panel-title">
        选择属性值
    </h2>
    <dl class="clr">
      <dt><strong>{{propertyInfo.name}}</strong>下可选属性值：{{item1}}</dt>
      <dd ng-repeat="item in propertyInfo.values" class="l clr" style="min-width: 100px;">
        <input type="checkbox" class="l" ng-model="item.checked">
        <span class="l">{{item.value}}</span>
      </dd>
    </dl>
    <input value="保存" type="submit" class="btn" ng-click="selectPropertyInfo()" style="float:left; margin-top:20px;">
  </div>
</script>











