<style type="text/css">
    .da-form .da-form-row{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
    }
</style>
<div id="da-wrapper">
    <!-- 头部 -->
    <div ng-include src="'/static/angular/js/buy/base_header.html'"></div>
    <!-- 身体 -->
    <div id="da-content">
        <!-- Container -->
        <div class="da-container clearfix">
            <div ng-include src="'/static/angular/js/buy/base_sidebar.html'"></div>
            <!-- 右侧内容 -->
            <div id="da-content-wrap" class="clearfix">
                <div id="da-content-area">
                   <div class="da-panel collapsible">
                        <div class="da-panel-header">
                          <span class="da-panel-title">
                                <i class="icol-text-list-bullets"></i>
                                基本信息
                            </span>
                        </div>
                        <div class="da-panel-inner-wrap">
                            <div class="da-panel-content da-form-container">
                                <div class="da-form">
                                    <h5 class="da-form-row">退货单状态：{{orderDetail.order_status}}</h5>
                                    <div class="row-fluid da-form-row">
                                        <div class="span4">
                                            <label>退货单号：{{orderDetail.id}}</label>
                                        </div>
                                        <div class="span4">
                                            <label>退货单创建时间：{{orderDetail.gmt_create}}</label>
                                        </div>
                                        <div class="span4">
                                            <label>创建人UID：{{orderDetail.operator_uid}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid  da-form-row">
                                        <div class="span8">
                                            <label>退货理由：{{orderDetail.reason}}</label>
                                            <label style="margin-top:20px">备注：{{orderDetail.remark}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid  da-form-row">
                                        <div class="span8">
                                            <label>支付方式：{{orderDetail.payway}}</label>
                                            <label>交易号：{{orderDetail.out_pay_no}}</label>
                                            <label>商户订单号：{{orderDetail.pay_unique_no}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid  da-form-row">
                                        <div class="span4">
                                            <label>主订单号：{{orderDetail.main_biz_order_id}}</label>
                                        </div>
                                        <div class="span4">
                                            <label>子订单号 ：{{orderDetail.sub_biz_order_id}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="da-panel collapsible">
                        <div class="da-panel-header">
                          <span class="da-panel-title">
                                <i class="icol-text-list-bullets"></i>
                                退货信息
                            </span>
                        </div>
                        <div class="da-panel-inner-wrap">
                            <div class="da-panel-content da-form-container">
                                <div class="da-form">
                                    <div class="row-fluid da-form-row">
                                        <div class="span3">
                                            <label>供应商Id：{{orderDetail.supplier_id}}</label>
                                        </div>
                                        <div class="span3">
                                            <label>供应商名称：{{orderDetail.supplier_name}}</label>
                                        </div>
                                        <div class="span3">
                                            <label>商品Id：{{orderDetail.inventory_id}}</label>
                                        </div>
                                        <div class="span3">
                                            <label>商品名称：{{orderDetail.inventory_name}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid da-form-row">
                                       <div class="span3">
                                            <label>退货数量：{{orderDetail.quantity}}</label>
                                        </div>
                                        <div class="span3">
                                            <label>回寄邮费：{{orderDetail.return_logistics_fee}}</label>
                                        </div>
                                        <div class="span3">
                                            <label>免邮损耗:{{orderDetail.logistics_loss}}</label>
                                        </div>
                                        <div class="span3">
                                            <label>商品实付金额：{{orderDetail.user_paid_fee}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid da-form-row">
                                        <div class="span3">
                                            <label>应退用户金额：{{orderDetail.refund_fee}}</label>
                                            <label>退货供应商结算金额：{{orderDetail.supplier_settle_refund_fee}}</label>
                                            <label>堆糖承担金额：{{orderDetail.dt_apportioned_refund_fee}}</label>
                                        </div>
                                        <div class="span3">
                                            <label>应退用户商品金额：{{orderDetail.user_refund}}</label>
                                            <label>供应商承担的商品金额：{{orderDetail.supplier_settle_refund}}</label>
                                        </div>
                                        <div class="span4">
                                            <label>应退用户的总邮费：{{orderDetail.user_logistics_total_refund}}</label>
                                            <label>供应商承担的总邮费：{{orderDetail.supplier_logistics_total_refund}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box" style="margin-top:20px">
                            <div ng-show="orderDetail.order_status!=='已结算'&&orderDetail.order_status!=='已取消'">
                                <a class="btn" style="margin-right:10px" ng-click="changeStaut(2)" ng-show="orderDetail.order_status!=='已提交退款'">设为已提交退款状态</a>
                                <a class="btn" style="margin-right:10px" ng-click="changeStaut(3)" ng-show="orderDetail.order_status!=='已结算'&&orderDetail.order_status!=='待退款'">设为已结算</a>
                                <a class="btn" ng-click="changeStaut(-1)" ng-show="orderDetail.order_status!=='已提交退款'">取消退货单</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
</div>
