<div id="da-wrapper">
  <!-- 头部 -->
  <div ng-include src="'/static/js/buy/base_header.html'"></div>
  <!-- 身体 -->
  <div id="da-content">
    <!-- Container -->
    <div class="da-container clearfix">
      <div ng-include src="'/static/js/buy/base_sidebar.html'"></div>
      <!-- 右侧内容 -->
      <div id="da-content-wrap" class="clearfix">
        <div id="da-content-area">
          <div class="da-panel">
            <div class="da-panel-header">
              <span class="da-panel-title">
                <i class="icon-list"></i> 新增属性/增加属性值
              </span>
            </div>
            <div class="da-panel-content da-form-container">
              <form class="da-form" form="query" ng-model="status">
                <div class="da-form-inline">
                  <div class="da-form-row">
                    <p class="h-label">属性名：</p>
                    <div class="l" style="margin-right: 15px">
                      <input type="text" placeholder="1~10个字符" ng-model="attrName" ng-blur="hasClass()">
                    </div>
                    <p class="h-label">属性值：</p>
                    <div class="l span7">
                      <input type="text" placeholder="多个属性值用逗号隔开" style="width:400px" ng-model="attrValues">
                    </div>
                  </div>
                  <div class="da-form-row">
                    <div class="l span4">
                      <a href="javascript:;" ng-click="saveAttrs()" class="btn btn-primary">保存</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="da-panel">
            <div class="da-panel-header">
              <span class="da-panel-title">
                <i class="icon-list"></i> 属性列表
              </span>
            </div>
            <div class="da-panel-inner-wrap">
              <div class="da-panel-content da-table-container">
                <div class="dataTables_wrapper">
                    <table class="da-table dataTable">
                      <thead>
                          <tr>
                              <th width="20%">属性Id</th>
                              <th width="20%">属性名</th>
                              <th>属性值</th>
                          </tr>
                      </thead>
                      <tbody id="datalists">
                        <tr ng-repeat="attr in attrList">
                          <td>{{attr.id}}</td>
                          <td>{{attr.name}}</td>
                          <td>{{attr.valueStr}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>