<style>
  label{display:inline-block!important;margin-right: 10px;}
  label input{display: inline-block !important;vertical-align: middle;margin-top: -3px!important;margin-right: 3px!important;
  }
</style>
<div id="da-wrapper">
  <!-- 头部 -->
  <div ng-include src="'/static/js/buy/base_header.html'"></div>
  <!-- 身体 -->
  <div id="da-content">
    <!-- Container -->
    <div class="da-container clearfix">
      <div ng-include src="'/static/js/buy/base_sidebar.html'"></div>
      <!-- 右侧内容 -->
      <div id="da-content-wrap" class="clearfix">
        <div id="da-content-area">
          <div class="da-panel">
            <div class="da-panel-header">
              <span class="da-panel-title">
                <i class="icon-list"></i> 编辑类目
              </span>
            </div>
            <div class="da-panel-inner-wrap">
              <div class="da-panel-content da-table-container">
                <div class="dataTables_wrapper">
                <form id="da-ex-validate3" class="da-form ng-pristine ng-valid" novalidate="novalidate">
                  <div class="da-form-inline">
                      <div class="da-form-row">
                        <p class="h-label">类目Id：{{cateDetail.id}}</p>
                        <p class="h-label">类目名：{{cateDetail.name}}</p>
                      </div>
                      <div class="da-form-row">
                        <p class="h-label">选择属性项目</p>
                        <div class="l-span8">
                          <label ng-repeat="attr in attrList"><input type="checkbox" value="{{attr.id}}" ng-click="changeAttrs(attr.id,$event)" ng-checked="attr.isChecked" ng-disabled="attr.isDisabled">{{attr.name}}</label>
                        </div>
                      </div>
                      <div class="da-form-row">
                        <button class="btn btn-primary" ng-click="saveCate()"> 保存</button>
                      </div>
                    </div>
                  </form>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>