<style type="text/css">
  .da-table td, .da-table th{text-align: center;}
</style> 
<div id="da-wrapper">
  <!-- 头部 -->
  <div ng-include src="'/static/js/buy/base_header.html'"></div>
  <!-- 身体 -->
  <div id="da-content">
    <!-- Container -->
    <div class="da-container clearfix">
      <div ng-include src="'/static/js/buy/base_sidebar.html'"></div>
      <!-- 右侧内容 -->
      <div id="da-content-wrap" class="clearfix">
        <div id="da-content-area">
          <div class="da-panel collapsible">
            <div class="da-panel-header">
              <span class="da-panel-title">
                <i class="icol-grid"></i>
                商城发货表
              </span>
              <div class="da-panel-toggler"><span></span></div>
            </div>
            <div class="da-panel-inner-wrap">
              <div class="da-panel-content da-table-container">
                <div id="da-ex-datatable-default_wrapper" class="dataTables_wrapper" role="grid">
                  <table class="da-table checkable">
                    <thead>
                      <tr>
                        <th>生成时间</th>
                        <th>供应商个数</th>
                        <th>主订单总量</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="payOrders in payOrdersListall">
                        <td>{{payOrders.gmt_created}}</td>
                        <td>{{payOrders.suppliers_num}}</td>
                        <td>{{payOrders.sub_biz_orders_num}}</td>
                        <td><div class="btn btn-default" ng-click="downloadPayOrders(payOrders.date_id,supplier_id1)">下载</div></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="da-panel collapsible">
            <div class="da-panel-header">
              <span class="da-panel-title">
                <i class="icol-grid"></i>
                仓库发货表
              </span>
              <div class="da-panel-toggler"><span></span></div>
            </div>
            <div class="da-panel-inner-wrap">
              <div class="da-panel-content da-table-container">
                <div id="da-ex-datatable-default_wrapper" class="dataTables_wrapper" role="grid">
                  <table class="da-table checkable">
                    <thead>
                      <tr>
                        <th>生成时间</th>
                        <th>主订单总量</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="payOrders in payOrdersList240">
                        <td>{{payOrders.gmt_created}}</td>
                        <td>{{payOrders.sub_biz_orders_num}}</td>
                        <td><div class="btn btn-default" ng-click="downloadPayOrders(payOrders.date_id,supplier_id2)">下载</div></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
</div>